{%  extends "MediaBundle:Default:base.html.twig" %}

{% block body %}
    <h1>Création d'un genre</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Créer" class="btn btn-primary"/>
    {{ form_end(form) }}
    <hr>
    <a href="{{ path('genre_index') }}"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Retourner aux genres</a>
{% endblock %}
