{%  extends "MediaBundle:Default:base.html.twig" %}

{% block body %}
    <h1>Création d'un type de média</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary" value="Enregistrer" />
    {{ form_end(form) }}
    <hr>
            <a href="{{ path('typemedia_index') }}"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Retourner aux types de médias</a>
{% endblock %}
